DEPLOY_TARGET=local
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
LAKE_ROOT=./data
DUCKDB_PATH=./warehouse/tfl_cycle_analytics.duckdb
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET=your-gcs-bucket
BQ_DATASET=tfl_cycle_analytics
BQ_LOCATION=asia-southeast2
BACKFILL_START=2024-01-01
BACKFILL_END=2026-02-28
NORMALIZATION_ENGINE=pandas
GOOGLE_APPLICATION_CREDENTIALS=/opt/project/credentials/gcp-service-account.json
DBT_SCHEMA=analytics
DBT_RAW_SCHEMA=raw
