.DS_Store
.env
.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tmp/
build/
dist/
target/
dbt_packages/
dbt/tfl_cycle_analytics/logs/
dbt/tfl_cycle_analytics/target/
logs/*
plugins/*
data/raw/**
data/silver/**
data/gold/**
warehouse/**
!.gitkeep

